<%= if length(@cart.cart_products) == 0 do %>
  Brak produtków w koszyku.

<% else %>
  <%= for cart_product <- @cart.cart_products do %>
    <%= cart_product.product.name %>
  <% end %>

  Razem: <%= @total_price %>
<%= end %>
