/* This file is for your main application css. */

h1 {
  font-size: 22px;
}

.menu-label {
  margin-top: 15px;
  font-size: 14px;
}

td, td > * {
    vertical-align : middle !important;
}


.turbolinks-progress-bar {
  height: 2px;
  background-color: #00d1b2;
}
