<a href="<%= category_path(@conn, :new) %>">Nowa kategoria</a><br>
<a href="<%= producent_path(@conn, :new) %>">Nowy producent</a><br>
<a href="<%= product_path(@conn, :new) %>">Nowy produkt</a><br><br>

<a href="<%= category_product_path(@conn, :index, 1) %>">Idź do sklepu</a>
